/* board.css에 추가 */

#board{
  max-width: 80%;
}

.custom-table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  padding: .75rem;
  border: 1px solid #dee2e6;
  text-align: left;
  border: none;
  text-align: center;
}

.custom-table th {
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

/* 헤더 스타일링 */
.header1 {
  background-color: rgb(201, 231, 69); /* 부트스트랩 기본 색상 */
  color: white;
}

/* 버튼 스타일링 */
.button, .form-select {
  margin: 0.5rem;
}

.searchiv {
  margin-top: 20px; /* 검색창과 테이블 사이의 여백 */
  text-align: center; /* 검색창을 중앙에 위치시킴 */
}

.search-input {
  width: 50%; /* 검색창의 너비를 줄임 */
  padding: 0.5rem;
  margin-right: 0.5rem; /* 버튼과의 간격 */
  border: 1px solid #dee2e6;
  font-size: 1rem; /* 폰트 크기 조정 */
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: black; /* 부트스트랩 기본 색상 */
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: black; /* 버튼 호버 시 색상 변경 */
}

/* "글쓰기" 버튼 스타일링 */
#write-button {
  width: 100px; /* 버튼 너비 설정 */
  float: right; /* 오른쪽 정렬 */
  background-color: black;
  border: none;
}

/* "커뮤니티" 제목 스타일링 */
.community-title {
  float: left; /* 왼쪽 정렬 */
  font-size: 50px;
  font-weight: bold;
}



/* 페이지네이션 컨테이너 스타일링 */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* 페이지네이션 버튼 그룹 스타일링 */
.pagination-container .btn-group .btn {
  margin: 0 5px; /* 버튼 사이의 간격 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
}

/* 페이지네이션 활성 버튼 스타일 */
.pagination-container .btn-group .btn.active {
  background-color: white; /* 활성 버튼 색상 */
  color: black;
}

/* 페이지네이션 버튼 기본 스타일 */
.pagination-container .btn-group .btn {
  color: white; /* 기본 버튼 텍스트 색상 */
  background-color: black; /* 배경 투명 */
 
}

/* 페이지네이션 버튼 호버 스타일 */
.pagination-container .btn-group .btn:hover {
  background-color:black; /* 호버 시 배경 색상 */
  color: white; /* 호버 시 텍스트 색상 */
}

/* 반응형 디자인을 위해 "글쓰기" 버튼 스타일 재조정 */
@media (max-width: 768px) {
  .write-button {
    width: auto; /* 모바일에서 버튼 너비를 자동으로 조정 */
    float: none; /* 모바일에서는 float 적용 제거 */
    display: block; /* 모바일에서 버튼을 블록 요소로 표시 */
    margin: 0 auto; /* 모바일에서 버튼을 가운데 정렬 */
    margin-top: 10px; /* 제목과의 간격 조정 */
  }

  .community-title {
    float: none; /* 모바일에서는 float 적용 제거 */
    display: block; /* 모바일에서 제목을 블록 요소로 표시 */
    margin-bottom: 10px; /* 버튼과의 간격 조정 */
  }

  .search-input {
    width: 100%; /* 모바일 화면에서 검색창 너비를 100%로 조정 */
    margin-bottom: 0.5rem; /* 모바일에서 버튼과의 간격 */
  }
  
  .search-button {
    width: 100%;
  }

  .custom-table th, .custom-table td {
    padding: .3rem; /* 모바일에서 패딩 줄이기 */
  }

  .header1 {
    font-size: 14px; /* 모바일에서 폰트 크기 조정 */
  }
}



/* 반응형 디자인: 모바일 화면에서 페이지네이션 버튼 크기 조정 */
@media (max-width: 576px) {
  .pagination-container .btn-group .btn {
    padding: 0.5rem 0.5rem; /* 모바일에서 버튼 패딩 조정 */
    font-size: 0.875rem; /* 모바일에서 폰트 크기 조정 */
  }
}



/* 반응형 디자인 */
@media (max-width: 768px) {
  
}