#content {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 80px;
}



.my-custom-content {
  padding-top: 100px;
}

.login-form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'CookieRun-Regular';
}

.login-logo {
  width: 100%;
  max-width: 230px; /* Adjust logo size based on your needs */
  margin-bottom: 2rem;
  height: auto;
}

.form1 .form-control, .form1 .btn {
  width: 100%; /* Set the width of form controls and buttons to 100% */
  margin-bottom: 1rem; /* Provide space between form elements */
}


.btn-success:active {
  background-color: black;
  /* border-color: black; */
 
}





/* Link customization */
.login-link {
  color: #D0D0D0;
}

/* Adjust font size for FontAwesome icons if necessary */
.fa-icon {
  font-size: 1rem; /* 아이콘 크기를 조정 */
}

.input-group {
  width: calc(100% - 30px); /* 아이콘의 너비를 고려하여 조정 */
  margin: 0 auto; /* 자동 마진을 통해 가운데 정렬 */
}

/* 인풋 필드와 아이콘 사이의 경계선을 없애고 전체적인 스타일링을 일치시킵니다. */

.input-group-text,
.form-control {
  height: 40px; /* 아이콘과 인풋 필드의 높이를 동일하게 설정 */
  font-size: 16px; /* 폰트 사이즈도 일치시킵니다 */
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group-text {
  display: flex; /* flexbox를 사용하여 내부 요소를 정렬 */
  align-items: center; /* 세로 축 중앙 정렬 */
  justify-content: center; /* 가로 축 중앙 정렬 */
  border-right: none; /* 오른쪽 테두리 제거 */
  background-color: #e9ecef;
  border-radius: 0.25rem 0 0 0.25rem;
  
}
/* 입력 필드 오른쪽 둥근 모서리 */
.form-control {
  border-radius: 0 0.25rem 0.25rem 0; /* 오른쪽 상단과 하단에만 둥근 모서리 적용 */
}


.nlink{
  color: black;
}

.nlink:hover{
  color: black;
}


.login-button{
  --bs-btn-hover-bg: #fdb21d;
  --bs-btn-hover-border-color: #fdb21d;
  --bs-btn-active-border-color: #fdb21d;
  --bs-btn-active-bg: #fdb21d;
  --bs-btn-active-color: white;
  --bs-btn-bg : #FFF73D;
  --bs-btn-hover-color : white;
  border-radius: 20px;
  color: black;
  --bs-btn-border-color: #343a40;
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.5rem;
  border: 3px solid black;
  font-family: 'CookieRun-Regular';

}

